<section ng-controller="PollsUpdateController as pollUpCtrl">
  <div class="modal-header">
    <h3 class="modal-title">Edit Customer</h3>
  </div>
  <div class="modal-body">
    <form name="pollUpdateForm">
      <fieldset>
        <div class="form-group">
          <div ng-show="error" class="text-center text-danger">
            <div data-ng-show="error" class="text-danger">
              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <strong data-ng-bind="error"></strong>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="title">Description</label>
          <input name="title" type="text" ng-model="poll.description" ng-maxlength="140" maxlength="140" id="description" class="form-control" placeholder="Description" required>
          <div ng-messages="pollForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Poll description is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="content">Option A</label>
          <input name="optionA" type="text" ng-maxlength="50" maxlength="50" ng-model="poll.optionA" id="optionA" class="form-control" placeholder="Option A" required></input>
        </div>
        <div class="form-group" show-errors>
          <label for="optionB">Option B</label>
          <input name="optionB" type="text" ng-maxlength="50" maxlength="50" ng-model="poll.optionB" id="optionB" class="form-control" placeholder="Option B" required></input>
        </div>
        <div class="form-group" show-errors>
          <label for="category">Category</label>
          <input name="category" type="text" ng-model="poll.category" id="category" class="form-control" placeholder="Category" required></input>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="pollUpCtrl.update(pollUpdateForm.$valid, poll); ok()" ng-disabled="pollUpdateForm.$invalid">Update & Close</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</section>