<section ng-controller="PollsController" ng-init="find()">
  <div class="page-header">
    <h1>Polls</h1>
  </div>
  <div class="panel panel-default col-md-6 col-md-offset-3">
    <ul ng-repeat="poll in polls" ui-sref="polls.view({pollId: poll._id})">
      <div class="panel-heading text-center">
        <h3 class="panel-title" ng-bind="poll.description"></h3>
      </div>
      <div class="panel-body">
        <li class="list-group-item">
          <span class="badge" ng-bind="poll.optionAVotes"></span>
          <h5 class="list-group-item-text" ng-bind="poll.optionA"></h5>
        </li>
        <li class="list-group-item">
          <span class="badge" ng-bind="poll.optionBVotes"></span>
          <h5 class="list-group-item-text" ng-bind="poll.optionB"></h5>
        </li>
      </div>
      <div class="panel-footer text-center">
        <small class="list-group-item-text">
          Posted on
          <b><span ng-bind="poll.created | date:'mediumDate'"></span></b>
          by
          <b><span ng-if="poll.user" ng-bind="poll.user.displayName"></span></b>
          <span ng-if="!poll.user">Deleted User</span>
          in the category 
          <b><span ng-if="poll.user" ng-bind="poll.category"></span></b>
        </small>
      </div>
    </ul>
  </div>
  <div class="alert alert-warning text-center" ng-if="polls.$resolved && !polls.length">
    No polls yet, why don't you <a ui-sref="polls.create">create one</a>?
  </div>
</section>
