<div class="list-group">
  <div class="col-sm-offset-3 col-sm-6 col-xs-12" ng-repeat="poll in polls | filter:searchText | filter:filterExpression">
    <div class="list-group-item">
      <h4 class="text-center">
        <i class="glyphicon glyphicon-erase"></i>
      </h4>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div ng-show="error && errorDiv == poll._id" class="text-center text-danger">
            <div data-ng-show="error" class="text-danger">
              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <strong data-ng-bind="error"></strong>
              </div>
            </div>
          </div>
          <h4 ng-bind="poll.description" class="text-center"></h4>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge" ng-bind="poll.optionAVotes"></span>
              {{poll.optionA}}
            </li>
            <li class="list-group-item">
              <span class="badge" ng-bind="poll.optionBVotes"></span>
              {{poll.optionB}}
            </li>
          </ul>
          <div class="text-center" ng-show="authentication.user && authentication.user.username == poll.username">
            <a class="btn btn-primary" ui-sref="polls.edit({pollId: poll._id})">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger" ng-click="remove();">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </div>
          <div class="text-center" ng-show="authentication.user && authentication.user.username != poll.username">
            <a class="btn btn-success" ng-click="vote(poll, 'A')">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Vote A
            </a>
            <a class="btn btn-warning" ng-click="vote(poll, 'B')">Vote B
              <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
          </div>
          <br>
          <div class="text-center">
            <a ui-sref="polls.view({pollId: poll._id})">View Details</a>
            <i class="glyphicon glyphicon-sunglasses" ui-sref="polls.view({pollId: poll._id})"></i>
            <br><br>
          </div>
          <hr/>
          <div class="text-center">
            <small class="list-group-item-text text-muted">
              <b><span ng-bind="poll.created | date:'mediumDate'"></span></b>
              by
              <b><span ng-if="poll.user" ng-bind="poll.user.displayName"></span></b>
              <b><span ng-if="!poll.user">Deleted User</span></b>
              in
              <b><span ng-if="poll.user" ng-bind="poll.category"></span></b>
            </small>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
<div class="alert alert-warning text-center" ng-if="polls.$resolved && !polls.length">
  No polls yet, why don't you <a ui-sref="polls.create">create one</a>?
</div>