<section ng-controller="PollsController" ng-init="findOne()">
  <div class="page-header text-center">
    <!-- <h1 ng-bind="poll.description"></h1> -->
    <h1>
      <i class="glyphicon glyphicon-sunglasses"></i>
      Details
    </h1>
  </div>
  <div class="list-group">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
      <a class="list-group-item">
        <h4 class="text-center">
          <i class="glyphicon glyphicon-user"></i>
        </h4>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <h4 ng-bind="poll.description" class="text-center"></h4>
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge" ng-bind="poll.optionAVotes"></span>
                {{poll.optionA}}
              </li>
              <li class="list-group-item">
                <span class="badge" ng-bind="poll.optionBVotes"></span>
                {{poll.optionB}}
              </li>
              <!-- <li class="list-group-item">
                <a ui-sref="polls.edit({pollId: poll._id})">Edit</a>
                <i class="glyphicon glyphicon-sunglasses" ui-sref="polls.view({pollId: poll._id})"></i>
                <br><br>
              </li> -->
            </ul>
              <!-- <button type="button" class="btn btn-default" ng-click="remove();" ng-show="authentication.user.username == poll.username">Remove</button> -->
            <br>
            <div class="text-center">
              <small class="list-group-item-text text-muted">
                <b><span ng-bind="poll.created | date:'mediumDate'"></span></b>
                by
                <b><span ng-if="poll.user" ng-bind="poll.user.displayName"></span></b>
                <b><span ng-if="!poll.user">Deleted User</span></b>
                in
                <b><span ng-if="poll.user" ng-bind="poll.category"></span></b>
              </small>
            </div>
          </div>
        </div>
      </a>
      <br>
    </div>
  </div>
</section>